:root {
  --primary: #ffc107;
  --secondary: #ffb100;
  --second: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;
  --gray: #6c757d;
  --gray-dark: #343a40;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/img-4.jpg");
  background-size: cover;
  padding: 0 80px;
}
.landing-page .overlay {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  opacity: 0.3;
}
.header-area {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  .logo {
    width: 300px;
    padding: 15px;
    font-weight: bold;
    font-size: larger;
  }
  .menu {
    list-style: none;
    text-align: right;
    width: 100%;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    li {
      display: inline-block;
      margin-left: 10px;
      cursor: pointer;
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 400;
    }
  }
}
.introduction {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 800px;
  text-align: left;
  z-index: 2;
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 22px;
  }
}
/* End Landing Page */
